@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header{
    background-image: url("image\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.title-bar {
    height: 10em;
    max-width: 100%;

    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

.gculogo {
    height: 2em;
}

.safepro{
    height: 1em;
}

.title-bar nav ul{
    display: flex;
    flex-direction: row;
    
    list-style-type: none;
}

nav ul li{
    padding-right: 3em;
    justify-self: space-between;
    color: white;
}

.banner{
    width: 80%;
    height: 100vh;


    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.banner p{
    color: white;
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25), 10px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner .lbt{
    font-size: 10em;
}
.banner .lbt span{
    color: #F58220;
}

.banner .sbt{
    font-size: 5em;
    color: #56120F;
}


.tiles{
    padding: 3em;
}

h2{
    margin-bottom: 2em;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: space-around;

}

.tile{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid grey;
    border-radius: 1em;
}

.tile p{
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em;
    line-height: 2em;
}

.tile button{
    color: white;
    background-color: #56120F;
    font-size: 1em;
    padding: 1em 1.5em;
    border-radius: 1em;
    border-style: none;
}